button {
    background-color: lightblue;
}

img {
    width: 400px;
    height: auto;
    image-rendering: pixelated;
}

.input-image {
    margin: 30px;
}

.output-image {
    margin: 30px;
}

.icon-button {
    margin: 30px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}


.ng-select {
    display: block;
    min-height: 500px;
    min-width: 300px;
}


.select_group {
    display: block;
    min-height: 500px;
    min-width: 300px;
}

.my_form {
    min-width: 300px;
}
