<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" class="inference">
        <div class="container">
            <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="class_number">
                    <mat-header-cell *matHeaderCellDef>Class Number</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class_number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="class_name">
                    <mat-header-cell *matHeaderCellDef>Class Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.class_name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef>Prob. Score [%]</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.score}}</mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="center">
            <button mat-button (click)="onInference()">inference</button>
        </div>
    </div>

    <div fxLayout="column" class="input-image">
        <div fxLayout="row"
             fxLayoutAlign="center">

            <div *ngIf="currentImage; else placeholder">
                <img [src]="currentImage.display_path"
                     class="img-responsive">
            </div>
            <ng-template #placeholder>
                <img [src]="placeholder_img"
                     class="img-responsive">
            </ng-template>
        </div>
        <div fxLayout="row"
             fxLayoutAlign="center">
            <div fxLayoutAlign="left">
                <button mat-icon-button class="icon-button" (click)="onGetPreviousImage()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
            </div>

            <ng-select [items]="imagesList"
                       #select
                       [virtualScroll]="true"
                       bindLabel="imageName"
                       bindValue="imageName"
                       placeholder="Select image"
                       (add)="onSelectorSelect($event)"
                       [(ngModel)]="currentImageName">
            </ng-select>

            <div fxLayoutAlign="right">
                <button mat-icon-button class="icon-button" (click)="onGetNextImage()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="column" class="output-image">
        <div fxLayout="row"
             fxLayoutAlign="center">
            <div *ngIf="currentImageVis; else placeholder">
                <img [src]="currentImageVis"
                     class="img-responsive">
            </div>
            <ng-template #placeholder>
                <img [src]="placeholder_img"
                     class="img-responsive">
            </ng-template>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxLayoutAlign="center">
                <div fxLayout="row" fxLayoutAlign="center" class="my_form">
                    <div fxLayout="column" fxLayoutAlign="center">
                        <div fxLayoutAlign="left">
                            <mat-form-field>
                                <mat-select placeholder="Choose algorithm" (change)="onSelectorAlgorithm($event)">
                                    <mat-option *ngFor="let algorithm of visualizeService.algorithmsList"
                                                [value]="algorithm.algorithmId">
                                        {{ algorithm.algorithmName }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center" class="my_form">
                    <div fxLayoutAlign="left">
                        <mat-form-field>
                            <mat-select placeholder="Choose postprocessing"
                                        [(ngModel)]="visualizeService.selectedPostprocessing"
                                        (change)="onSelectPostprocessing($event)">
                                <mat-option *ngFor="let postprocessing of visualizeService.postprocessingList"
                                            [value]="postprocessing.postprocessingId">
                                    {{ postprocessing.postprocessingName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center">
                    <mat-checkbox
                        class="example-margin"
                        [(ngModel)]="onImageChecked">
                        display on image
                    </mat-checkbox>
                </div>

                <div fxLayout="row"
                     fxLayoutAlign="center">
                    <button mat-button
                            [disabled]="visualizeService.disabledButton"
                            (click)="onVisualize()">
                        visualize
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
