frontend/NNVisualization/package-lock.json
backend/app/models.db
backend/app/weights/
backend/app/datasets/
backend/app/test_models.db
backend/app/datasets
backend/app/nnvis_test_tmp
backend/app/static
!backend/app/static/placeholder2.jpg

./UltiSnips/
.idea

**/__pycache__/
