<div fxLayout="row"
     fxLayoutAlign="center start">
    <div fxFlex="40%"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <h2 fxLayout="column"
            fxLayoutAlign="start center">Select architecture</h2>
        <div class="filter-header">
            <mat-form-field>
                <input matInput
                       (keyup)="applyFilter(archDataSource, $event.target.value)"
                       placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #archs
                       [dataSource]="archDataSource">
                <ng-container matColumnDef="position">
                    <mat-cell *matCellDef="let elem"> {{elem.position}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-cell *matCellDef="let elem"> {{elem.name}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef=""></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         (click)="selectArchitecture(row)"
                         [class.selected-row]="row.id === selectedArchId">
                </mat-row>
            </mat-table>
        </div>
        <div class="import-file">
            <input type="file"
                   (change)="onArchitectureFileChange($event)"
                   accept=".meta">
            <button mat-button
                    (click)="importArchitecture()"
                    [disabled]="!importedArchitecture">
                Import
            </button>
        </div>
    </div>
    <div fxFlex="40%"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <h2 fxLayout="column"
            fxLayoutAlign="start center">Select model</h2>
        <div class="filter-header">
            <mat-form-field>
                <input matInput
                       (keyup)="applyFilter(modelDataSource, $event.target.value)"
                       placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #models
                       [dataSource]="modelDataSource">
                <ng-container matColumnDef="position">
                    <mat-cell *matCellDef="let elem"> {{elem.position}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-cell *matCellDef="let elem"> {{elem.name}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef=""></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"
                         (click)="selectModel(row)"
                         [class.selected-row]="row.id == selectedModelId">
                </mat-row>
            </mat-table>
        </div>
        <div class="import-file">
            <input type="file"
                   (change)="onModelFileChange($event)"
                   accept=".zip">
            <button mat-button
                    (click)="importModel()"
                    [disabled]="!importedModel">
                Import
            </button>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row"
     fxLayoutAlign="center start">
    <div fxFlex="40%"
         class="centered">
        <ng-container *ngIf="selArchService.architecture; else noArch">
            <app-details [header]="'Current architecture'"
                         [details]="[
                ['ID', selArchService.architecture.id],
                ['Name', selArchService.architecture.name],
                ['Description', selArchService.architecture.description],
                ['Last used', selArchService.architecture.last_used],
                ['Last modified', selArchService.architecture.last_modified]
            ]">
            </app-details>
            <button mat-button
                    (click)="editCurrentArchitecture()">Edit</button>
            <button mat-button
                    (click)="deleteCurrentArchitecture()">Delete</button>
            <button mat-button
                    (click)="exportCurrentArchitecture()">Export</button>
        </ng-container>
        <ng-template #noArch>
            No architecture selected
        </ng-template>
    </div>
    <div fxFlex="40%"
         class="centered">
        <ng-container *ngIf="selArchService.model; else noModel">
            <app-details [header]="'Current model'"
                         [details]="[
                ['ID', selArchService.model.id],
                ['Name', selArchService.model.name],
                ['Description', selArchService.model.description]
            ]">
            </app-details>
            <button mat-button
                    (click)="editCurrentModel()">Edit</button>
            <button mat-button
                    (click)="deleteCurrentModel()">Delete</button>
            <button mat-button
                    (click)="exportCurrentModel()">Export</button>
        </ng-container>
        <ng-template #noModel>
            No model selected
        </ng-template>
    </div>
</div>