<div class="row">
    <div class="col-md-3 col-md-offset-3 centered">
        <h2>Select architecture</h2>
        <div class="filter-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter(archDataSource, $event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #archs [dataSource]="archDataSource">
                <ng-container matColumnDef="position">
                    <mat-cell *matCellDef="let elem"> {{elem.position}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-cell *matCellDef="let elem">
                        <button mat-button (click)="selectArchitecture(elem.position)">{{elem.name}}</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef=""></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="col-md-3 centered">
        <h2>Select model</h2>
        <div class="filter-header">
            <mat-form-field>
                <input matInput (keyup)="applyFilter(modelDataSource, $event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #models [dataSource]="modelDataSource">
                <ng-container matColumnDef="position">
                    <mat-cell *matCellDef="let elem"> {{elem.position}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="name">
                    <mat-cell *matCellDef="let elem">
                        <button mat-button (click)="selectModel(elem.position)">{{elem.name}}</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef=""></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3 col-md-offset-3 centered">
        <ng-container *ngIf="!add_new_arch_mode; else addArch">
            <ng-container *ngIf="selectedArchitectureService.architecture; else noArch">
                <h2>Current architecture</h2>
                <h4>ID: {{ selectedArchitectureService.architecture.id }}</h4>
                <h4>Name: {{ selectedArchitectureService.architecture.name }}</h4>
                <h4>Description: {{ selectedArchitectureService.architecture.description }}</h4>
                <h4>Last used: {{ selectedArchitectureService.architecture.last_used }}</h4>
                <h4>Last modified: {{ selectedArchitectureService.architecture.last_modified }}</h4>

                <button mat-button (click)="editCurrentArchitecture()">Edit</button>
                <button mat-button (click)="deleteCurrentArchitecture()">Delete</button>
            </ng-container>
            <ng-template #noArch>
                No architecture selected
            </ng-template>
        </ng-container>
    </div>
    <div class="col-md-3 centered">
        <ng-container *ngIf="selectedArchitectureService.model; else noModel">
            <h2>Current model</h2>
            <h4>ID: {{ selectedArchitectureService.model.id }}</h4>
            <h4>Name: {{ selectedArchitectureService.model.name }}</h4>
            <h4>Description: {{ selectedArchitectureService.model.description }}</h4>

            <button mat-button (click)="editCurrentModel()">Edit</button>
            <button mat-button (click)="deleteCurrentModel()">Delete</button>
        </ng-container>
        <ng-template #noModel>
            No model selected
        </ng-template>
    </div>
</div>
