.mat-table {
    overflow: auto;
    max-height: 200px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.filter-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-row {
    cursor: pointer;
}

.selected-row {
    background-color: rgba(255, 215, 64, 0.7);
}

.centered {
    text-align: center;
}

.import-file {
    text-align: center;
}
