<div class="node-container">
    <div class="node-header">
        <span><strong>ID: {{ layer.id }}</strong></span>
    </div>
    <mat-form-field>
        <input matInput placeholder="Label"
        [value]="layer.label"
        (input)="onChangeLabel($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="# Filters"
                        [(ngModel)]="layer.numFilters"
                        type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Kernel shape"
                        [(ngModel)]="layer.kernelShape"
                        [formControl]="kernelShapeFormControl"
                        [errorStateMatcher]="matcher">
        <mat-error *ngIf="kernelShapeFormControl.hasError('pattern')">
            Invalid shape, try: 3,3
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Strides"
                        [(ngModel)]="layer.strides"
                        [formControl]="stridesFormControl"
                        [errorStateMatcher]="matcher">
        <mat-error *ngIf="stridesFormControl.hasError('pattern')">
            Invalid shape, try: 3,3
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Activation" [(value)]="layer.activation">
            <mat-option *ngFor="let act of activations" [value]="act.value">
                {{ act.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Padding" [(value)]="layer.padding">
            <mat-option *ngFor="let p of paddings" [value]="p.value">
                {{ p.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
