<div class="node-container">
    <div class="node-header">
        <span><strong>ID: {{ layer.id }}</strong></span>
    </div>
    <mat-form-field>
        <input matInput placeholder="Label"
        [value]="layer.label"
        (input)="onChangeLabel($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="# Filters"
        [value]="layer.numFilters"
                        (input)="onChangeNumFilters($event.target.value)"
                        type="number">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Kernel shape"
                        [value]="layer.kernelShape"
                        (input)="onChangeKernelShape($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Strides"
                        [value]="layer.strides"
                        (input)="onChangeStrides($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Activation" [(value)]="layer.activation">
            <mat-option *ngFor="let act of activations" [value]="act.value">
                {{ act.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Padding" [(value)]="layer.padding">
            <mat-option *ngFor="let p of paddings" [value]="p.value">
                {{ p.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
