<div fxLayout="row"
     fxLayoutAlign="space-around center">
    <div fxFlex="50"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <div class="filter-header">
            <mat-form-field>
                <input matInput
                       (keyup)="applyFilter(historyDataSource, $event.target.value)"
                       placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #history
                       [dataSource]="historyDataSource">

                <ng-container *ngFor="let column of displayedColumns"
                              [matColumnDef]="column.property">
                    <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let elem"> {{elem[column.property]}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsIds"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsIds;"
                         (click)="selectHistory(row)"
                         [class.selected-row]="row.id === selctedHistoryID">
                </mat-row>
            </mat-table>
        </div>
        <div class="centered step-buttons">
            <button mat-raised-button
                    color="accent"
                    matStepperNext>
                    Train new model
            </button>
        </div>
    </div>
</div>