<div fxLayout="row"
     fxLayoutAlign="space-around center">
    <div fxFlex="50"
         fxLayout="column"
         fxLayoutAlign="center stretch">
        <div class="filter-header">
            <mat-form-field>
                <input matInput
                       (keyup)="applyFilter(historyDataSource, $event.target.value)"
                       placeholder="Filter">
            </mat-form-field>
        </div>
        <div>
            <mat-table #history
                       [dataSource]="historyDataSource">

                <ng-container *ngFor="let column of displayedColumns"
                              [matColumnDef]="column.property">
                    <mat-header-cell *matHeaderCellDef> {{column.header}} </mat-header-cell>
                    <mat-cell *matCellDef="let elem"> {{elem[column.property]}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsIds"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsIds;"
                         (click)="selectHistory(row)"
                         [class.selected-row]="row.id === selectedHistoryID">
                </mat-row>
            </mat-table>
        </div>
        <div class="centered step-buttons">
            <button mat-raised-button
                    color="accent"
                    matStepperNext>
                    Train new model
            </button>
        </div>
    </div>
    <app-details fxFlex="30%"
                 *ngIf="selectedHistory"
                 [header]="'Current training statistics'"
                 [details]="[
                         ['Model name', selectedHistory.modelName],
                         ['Architecture name', selectedHistory.archName],
                         ['Batch size', selectedHistory.batchSize],
                         ['Current epoch', selectedHistory.currentEpoch],
                         ['Num. of epochs', selectedHistory.numberOfEpochs],
                         ['Training loss', selectedHistory.trainingLoss],
                         ['Training accuracy', selectedHistory.trainingAcc],
                         ['Validation loss', selectedHistory.validationLoss],
                         ['Validation accuracy', selectedHistory.validationAcc]
                      ]"
                 [width]="'70%'">
    </app-details>
</div>