<mat-toolbar class="mat-toolbar mat-accent mat-elevation-z3"
             fxLayout="row"
             fxLayoutAlign="space-evenly center">
    <ng-container *ngIf="selectedArchitectureService.architecture; else noArch">
        <h3>Architecture: {{ selectedArchitectureService.architecture.name }}</h3>
        <ng-container *ngIf="selectedArchitectureService.model; else noModel">
            <h3>Model: {{ selectedArchitectureService.model.name }}</h3>
        </ng-container>
        <ng-template #noModel>
            <h3>Please select a model</h3>
        </ng-template>
    </ng-container>
    <ng-template #noArch>
        <h3>Please select an architecture</h3>
        <h3>Please select a model</h3>
    </ng-template>
</mat-toolbar>