<div class="node-container">
    <div class="node-header">
        <span><strong>ID: {{ layer.id }}</strong></span>
    </div>
    <mat-form-field>
        <input matInput placeholder="Label"
                        required
                        [(ngModel)]="layer.label"
                        (input)="onChangeLabel($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Shape"
                        [(ngModel)]="layer.outputShape"
                        [formControl]="shapeFormControl"
                        [errorStateMatcher]="matcher">
        <mat-error *ngIf="shapeFormControl.hasError('pattern')">
            Invalid shape, try: -1,28,28,1
        </mat-error>
    </mat-form-field>
</div>
