<div class="node-container">
    <div class="node-header">
        <span><strong>ID: {{ layer.id }}</strong></span>
    </div>
    <mat-form-field>
        <input matInput placeholder="Label"
                        [value]="layer.label"
                        (input)="onChangeLabel($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Shape"
                        [value]="layer.outputShape"
                        (input)="onChangeShape(2, $event.target.value)">
    </mat-form-field>
</div>
