<div>
    <span>ID: {{ layer.id }}</span>
    <mat-form-field>
        <input matInput placeholder="Label"
            [value]="layer.label"
            (input)="onChangeLabel($event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Input shape"
                [value]="layer.inputShape"
                (input)="onChangeShape(1, $event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Output shape"
                [value]="layer.outputShape"
                (input)="onChangeShape(2, $event.target.value)">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Activation" [(value)]="layer.activation">
            <mat-option *ngFor="let a of activations" [value]="a.value">
                {{ a.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
