/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.warning-dialog .mat-dialog-container {
    background-color: #f44336;
    color: white;
    opacity: 0.9 !important;
}

.success-dialog .mat-dialog-container {
    background-color: #69f0ae;
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.9 !important;
}

.inputs-dialog .mat-dialog-container {
    padding: 35px;
}

body {
    margin: 0;
    height: 100%;
}

html {
    font-size: 14px;
    line-height: 1.428;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

app-build {
    height: auto;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 10px 0;
}
