<div #toolbar>
    <mat-toolbar class="mat-toolbar mat-primary">
        <span>
            <a mat-button routerLink="/">
                Neural Network Visualization ZPP project for the win!
            </a>
        </span>
        <span class="fill-space"></span>
        <div *ngIf="auth.isAuthenticated(); then options; else login"></div>

        <ng-template #options>
            <span>
                <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item>
                        <mat-icon>help_outline</mat-icon>
                        <span>About</span>
                    </button>
                    <button mat-menu-item (click)="logOut()">
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="optionsMenu">
                    <mat-icon>more_vert</mat-icon>
                    <span>Account</span>
                </button>
            </span>
        </ng-template>
        <ng-template #login>
            <span>
                <button mat-button (click)="logIn()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Log in</span>
                </button>
            </span>
        </ng-template>
    </mat-toolbar>
</div>